<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Dino</title>
        <script src="../scripts/ground.js" type="module" defer></script>
        <script src="../scripts/dino.js" type="module" defer></script>
        <script src="../scripts/cactus.js" type="module" defer></script>
        <script src="../scripts/main.js" type="module" defer></script>
        <link rel="stylesheet" href="/styles/style.css" />
    </head>
    <body>
        <div class="board">
            <div class="gameOver">Game over!
                <button class="restartGame">Restart Game</button>
            </div>
            <div class="menu-text">Press any key to start!</div>
            <div class="score">
                <div class="current-score">Current score:0</div>
                <div class="high-score">High score: 0</div>
            </div>
            <div class="dino"></div>
            <div class="ground"></div>
        </div>
    </body>
</html>
